---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
    font-size: 100%;
}

body {
    background: #fff;
    font: 1.3em/1.5 Rubik;
    font-weight: 300;
    color: #000;
}
.wrapper {
    background: none;
}
.wrapper-highlight {
    background: #D0051C;
}
body.single .wrapper-highlight {
    background: #3cc;
}
.container {
    margin: 0 auto;
    max-width: 860px;
    width: 80%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Rubik;
    font-weight: 300;
    line-height: 1.7;
    margin: 0.25em 0;
    padding: 0;
    @include mobile {
    line-height: 1.4;
  }
}
h1 {
  font-size: 2em;
  a {
    color: inherit;
  }
}
h2 {
    font-size: 1.4em;
    text-transform: uppercase;
}
.latest h2 {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    color: #fff;
}
h3 {
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
}
h4 {
    font-size: 1em;
}
p {
  margin: 0 0 1em 0;
}
a {
  color: #fff;
    text-decoration: underline;
	cursor: pointer;
    &:hover, &:active {
    text-decoration: none;
  }
}
#main a {
  color: #000;
}
ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}
ul ul, ol ul {
  list-style-type: circle;
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
img {
    max-width: 100%;
    display: block;
}
.date {
  font-style: normal;
  color: #fff;
}
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.masthead {
    margin: 0 auto;
    padding: 2em 0 1em 0;
    width: 80%;
}
.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.site-name {
  margin: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}
.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}
nav {
  float: right;
  margin-top: 1em;
  font-family: Rubik, sans-serif;
  font-size: 0.8em;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
  a {
      margin-left: 0.5em;
      color: #fff;
      text-align: right;
      font-weight: 300;
      text-transform: uppercase;

      @include mobile {
      margin: 0;
    }
  }
}

//
// .strapline
//

.strapline {
    margin: 0 auto;
    padding: 2em 0;
    width: 80%;
}
.strapline p {
    font-size: 2em;
    color: #fff;
    
    @include mobile {
    font-size: 1.4em;
  }
}
.latest {
    border: 2px solid #fff;
    border-radius: 50%;
    float: right;
    width: 12em;
    height: 12em;
    padding: 1.4em;
    margin: 0 0 2em 2em;
    transform: rotate(5deg);
	transform-origin: center center 0;
    text-align: center;
    
    @include mobile {
    border-radius: 0;
    transform: none;
    float: none;
    margin: 0 0 3em 0;
    padding: 0.5em;
    width: auto;
    height: auto;
  }
}
.latest p {
    font-size: 0.9em;
}

//
// .participate
//

.participate {
    margin: 0 auto;
    padding: 3em 0;
    width: 80%;
    color: #fff;
}
.wrapper-form {
    background: #D0051C;
}
.mailing-list {
    margin: 0 auto;
    padding: 2em 0;
    width: 80%;
    max-width: 640px;
    color: #fff;
}

//
// .supporters
//

.supporters {
    margin: 0 auto;
    padding: 2em 0;
    width: 80%;
    color: #000;
    text-align: center;
}
.supporter-logo {
    float: left;
    width: 25%;
    
    @include mobile {
    width: 50%;
  }
}
.threecolumn {
    padding-right: 1em;
    width: 33.3%;
    float: left;
    
    @include mobile {
        padding: 0;
        margin-bottom: 1em;
        width: 100%;
    }
}
.threecolumn p {
}
.image-section img {
}

//
// .main
//

#main {
    padding: 3em 0;
}

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
}

.entry p {
    font-size: 1.2em;
}
.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid #fff;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 1.2em;
    font-style: italic;
  }

  .comments {
    margin-top: 1em;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #000;
  }
}
.entry form {
    margin: 0 auto;
    max-width: 640px;
}
.entry form input {
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}
.entry form input.button {
    width: auto;
    font-size: 2em;
    padding: 1em;
    margin-bottom: 0;
}
.entry form textarea {
    width: 100%;
    height: 6em;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}
footer {
    margin: 0 auto;
    padding: 3em 0;
    width: 80%;
    color: #fff;
}
footer ul, footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#mc_embed_signup {
    clear:left;
    font:14px Rubik,sans-serif;
}