    <div class="wrapper-highlight">
        <footer class="footer">
            <div class="threecolumn">
                <h3>Navigation</h3>
                <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/participate">Participate</a></li>
                <li><a href="{{ site.baseurl }}/support">Support</a></li>
                <li><a href="{{ site.baseurl }}/host">Host</a></li>
                <li><a href="{{ site.baseurl }}/connect">Connect</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                </ul>
            </div>
            <div class="threecolumn">
                <h3>Contact</h3>
                <ul>
                <li><a href="https://twitter.com/thingscamp">Twitter</a></li>
                <li><a href="https://www.facebook.com/ThingsCamp-1695084944064500/">Facebook</a></li>
                </ul>
            </div>
            <div class="threecolumn">
                <h3>Credits</h3>
                <p>ThingsCamp was initiated by <a href="http://beyond.place/">Beyond</a>. Site by <a href="http://imagetext.co.uk">imagetext</a>.</p>
            </div>
            <br style="clear: both">
        </footer>
      </div>