    <div class="wrapper-highlight">
        <header class="masthead clearfix">
          <div class="site-info">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/ThingsCamp.png"></a>
          </div>

          <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/participate">Participate</a>
              <a href="{{ site.baseurl }}/support">Support</a>
              <a href="{{ site.baseurl }}/host">Host</a>
              <a href="{{ site.baseurl }}/connect">Connect</a>
              <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
    </div>