<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,900" rel="stylesheet">

  </head>

  <body class="home">

    {% include header.html %}
      
    <div class="wrapper-highlight">
        <div class="strapline">
        <div class="latest"><p></p><span class="latest-text"><h2>ThingsCamp 5</h2><p>We're coming to Birmingham on the <a href="https://www.eventbrite.co.uk/e/thingscamp-5-tickets-45583660957">16th</a> AND <a href="https://www.eventbrite.co.uk/e/thingscamp-5-for-business-tickets-46181131006">19th</a> of June!</p>
        </div>
        <p>As more and more gets connected to the internet, our digital lives have more possibilities, wider implications and greater risks than ever before. <a href="{{ site.baseurl }}/about">Explore them together</a>.</p>
        </div>
    </div>
      
    <div class="image-section">
        <img src="{{ site.baseurl }}/images/headerimage.jpg">
    </div>
      
    <div class="wrapper-highlight">
        <div class="participate">
            <div class="threecolumn">
                <h2>Participate</h2>
                <p><a href="{{ site.baseurl }}/participate">Come to an event</a>, join the conversation or just <a href="{{ site.baseurl }}/about">find out more</a>.</p>
            </div>
            <div class="threecolumn">
                <h2>Support</h2>
                <p><a href="{{ site.baseurl }}/support">Help us</a> to make ThingsCamp happen.</p>
            </div>
            <div class="threecolumn">
                <h2>Host</h2>
                <p><a href="{{ site.baseurl }}/host">Host the next ThingsCamp</a> where you are. We'll help and provide resources.</p>
            </div>
            <br style="clear: both">
            </div>
      </div>
        
    <div class="image-section">
        <img src="{{ site.baseurl }}/images/stripimage.jpg">
    </div>

    <div id="main">
        <div class="container">
      {{ content }}
        </div>
    </div>
        
    <div class="wrapper-highlight">
        <div class="mailing-list">
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//camp.us11.list-manage.com/subscribe/post?u=b3959a4a1933e1c38b76d86e4&amp;id=1112ec340f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h1>Subscribe for ThingsCamp updates.</h1>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b3959a4a1933e1c38b76d86e4_1112ec340f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        </div>
    </div>
        
    <div class="wrapper">
        <div class="supporters">
            <h2>Supporters</h2>
            <p>ThingsCamp wouldn't be possible without:</p>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/valtech.png"></div>            
			<div class="supporter-logo"><img src="{{ site.baseurl }}/images/govcamp.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/plymouth.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/dataplay.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/markethall.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/RSA.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/rave.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/uwe.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/atbristol.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/kwmc.jpg"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/odibristol.png"></div>
            <div class="supporter-logo"><img src="{{ site.baseurl }}/images/odidevon.png"></div>
            <br style="clear: both">
        </div>
    </div>

    {% include footer.html %}
      
    {% include analytics.html %}
      
  </body>
</html>
