<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,900" rel="stylesheet">

  </head>

  <body class="single">

    {% include header.html %}
      
    <div class="image-section">
        <img src="{{ site.baseurl }}/images/headerimage.jpg">
    </div>

    <div id="main">
        <div class="container">
      {{ content }}
        </div>
    </div>

    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>
